@import "reset.css";

html {
    margin: 8px;
    padding: 0px;
    background-color: #464646;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    text-transform: none;
    border-style: none;
    color: #000000;
}

p {
    margin-top: 14px;
    margin-bottom: 14px;
}

ul   {
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 30px;
    list-style: circle;
}

li {
    margin-top: 3px;
    margin-bottom: 3px;
}

h2, h3, h4, h5, h6 {
    margin-top: 14px;
    margin-bottom: 14px;
    color: #539126;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: normal;
    margin-top: 6px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: #539126 1px solid;
}

#header img {
    border: 0px;
}

#header {
    margin-bottom: 4px;
}

#header-top {
    padding-left: 15px;
    padding-top: 15px;
    height: 50px;
    
}

#header-bottom {
    background-color: #539126;
    color: #FFFFFF;
    font-family: "Trebuchet MS", sans-serif;
    padding: 4px;
    padding-left: 15px;

}

#main {
    background-color: #fff;
    padding: 10px;
    padding-left: 15px;
}

#data {
    
}

#disclaimer {
    clear: both;
}